
/*gives the image an outside shape*/
.heading{
	-webkit-clip-path: circle(70.9% at 32% 39%);
     background-image: url(../SteppingIntoHistory/web/images/history.jpg);
     shape-outside:circle(70.9% at 32% 39%);
     background-size: cover;
     box-shadow:0 0 10px rgb(51, 26, 0);
     width: 600px;
     height: 600px;
     float: left;
     margin-right: 40px;
}
/*gives the title a shape*/
.heading-1{
	-webkit-clip-path: circle(70.9% at 32% 39%);
     clip-path: circle(70.9% at 32% 39%);
     width: 460px;
     height: 460px;
     background-color: rgba(255, 179, 102,0.8);
     padding: 20px;
     box-shadow:0 0 10px rgb(51, 26, 0);
}
.heading-1 h1{
	text-align: center;
	position: relative;
	top: 10%;
	left: -5%;
	font-size: 90px;
	letter-spacing: 2px;
	color:rgb(102, 51, 0);
	text-shadow:0 0 8px #fff1e6,0 1px 3px rgba(102, 51, 0,0.8);
}